body {
    background-color: red;
}

.step-executor {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;

    pointer-events: none;
    padding: 10px 20px;
    background: #aaa;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 2px 10px rgb(50, 50, 50);
}

.step-text {
    color: #262626;
    font-weight: bold;
}

.code-editor{
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 9999;

    padding: 10px 20px;
    background: #aaa;
    border-radius: 5px;
    color: white;
}
